@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    text-indent: 2rem;
}

body{
    background-color: #F2F2F0;
}

.navegacao{
    height: 5rem;
    background-color: #D9A689;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

a{
    font-family: 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:#ce0101;
}
a:hover{
    color:#992e2e;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#curri:hover{
    background-color:#ffffff;
}
#linke:hover{
    background-color:#ffffff;

}
#git:hover{
    background-color:#ffffff;
}
#curri{
    background-color: #d6d6d6;
}
#linke{
    background-color: #d1b0b0;
}

#git{
    background-color: #d18f8f;
}
#titulo{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 6, 6,0.7);
    text-shadow: 2px 2px #d6d6d6;
    font-size: 3.5rem;
}


#titulo:hover{
    color:#fcfcfc;
    text-shadow: 2px 2px rgb(191, 6, 6,0.7);
}

h1{
    font-size: 4rem;
    color:#611c1c;

}
.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 4rem;
    background-color: rgb(217, 166, 137,0.3);
}


#perfil{
    margin: 2rem;
    border-radius: 50%;
    box-shadow: 5px 5px 2px 5px #730303;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#bio{
    line-height: 1.8;
}
#citacao{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(117, 30, 42);
    background-color: #D9A689;
    height: 2rem;
}




.botao{
    font-family: pieces-of-eight;
    font-size: 25px;
    width: 10rem;
    padding: 1rem;
    color: #ffff;
    background-color: rgba(148, 11, 11, 0.7);

}

.botao:hover,
.botao:focus{
  background-color: #611c1c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.botao:hover {
  transform: translateY(-1px);
}

#fluxograma{
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0 8px 12px;
    border-radius: 10%;
}

@media (max-width: 600px) {
.principal{
    flex-direction: column;
}

}
