body,
html {
    background-image: linear-gradient(to bottom right, rgb(11, 19, 90), rgba(195, 195, 204, 0.7));
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh 100%;
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: "pieces-of-eight";
    src: url(../font/Pieces\ of\ Eight.ttf);
}



header {
    width: 100%;
    height: 6rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(114, 135, 156, 0.8);
    box-shadow: 3px 3px 7px 4px rgba(0, 0, 0, 0.5);


}

.corpo {
    height: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.janela-do-jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 60vw;
    margin: 3rem;
    background-color: rgba(16, 19, 22, 0.8);
    border-radius: 6px;
    color: rgb(243, 247, 250);
    box-shadow: 2px solid rgb(58, 62, 100);
    padding: 2rem;
    border: 3px;
    box-shadow: 3px 3px 7px 7px rgba(0, 0, 0, 0.5);

}


.etapas {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#caixa-da-etapa-inicio {
    flex-direction: column;
}

#caixa-da-etapa-2 {
    flex-direction: column;
}

#todos-bem-chuva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fogo-doente {
    width: 50%;
}

p {
    margin: 1rem;
    line-height: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-display: auto;
}


h1 {

    font-family: "pieces-of-eight";
    color: rgb(255, 248, 248);
    text-shadow: 2px 2px rgb(162, 175, 201);
    font-size: 5rem;

}

#title {
    margin: 2rem;
    justify-items: center;
    display: flex;

}

button {
    width: fit-content;
    height: fit-content;
    margin-bottom: 3rem;
    padding: 3px;
    border-radius: 7px;
    background-color: rgb(151, 194, 247);
    color: rgb(14, 1, 138);
    font-family: pieces-of-eight;
    font-size: 25px;
    box-shadow: 3px 3px 5px 5px rgba(95, 4, 4, 0.5);
}


#reinicia-jogo {
    width: fit-content;
    height: fit-content;

}

.etapas {
    align-items: center;
    justify-content: center;

}

.fim {
    display: flex;
    align-items: center;
    justify-content: center;

}


@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;

    }

    .imagens {
        width: 80%;
    }

    .etapas,
    #caixa-da-etapa-2,
    #caixa-da-etapa-inicio,
    #todos-bem-chuva,
    #game-over-rei-triste {
        flex-direction: column-reverse;

    }


}